<fieldset>
  <legend>
    Trip
  </legend>
  <p>
    <b>from</b> : {{trip.from}} <br />
    <b>to</b> : {{trip.to}} <br />
    <b>Time</b> : {{trip.time | time}} <br />
    <b>Seats</b> : {{trip.seats}}<br />
  </p>
  <button (click)="trip.seats= trip.seats -1" [disabled]="trip.seats<=0">Book</button>
</fieldset>
