<input name="city" type="text" #myCity />

<button (click)="cities.push(myCity.value); myCity.value=''">Add City</button> <br />

<u>Cities</u> : <span *ngFor="let city of cities">{{city+" ,"}}</span> <br />

<hr />

<form (ngSubmit)="addTrip()" #myform="ngForm">

  From :
  <select name="from" [(ngModel)]="currentTrip.from" required>
    <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
  </select>

  To :
  <select name="to" [(ngModel)]="currentTrip.to" required>
    <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
  </select>

  <br />Time <br />

  <input name="time" type="number" [(ngModel)]="currentTrip.time" pattern="[0-9]+" required/>

  <br />Seats <br />

  <input name="seat" type="number" [(ngModel)]="currentTrip.seats" pattern="[0-9]+" required/>

  <br />

  <button type="submit" [disabled]="myform.invalid">Add Trip</button>

</form>

<hr />

<app-trip *ngFor="let trip of trips" [trip]="trip"></app-trip>
